*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    /* display: none; */
    height: 100vh;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;

}